# アプリケーション環境 (develop, staging, production)
APP_ENV=develop

# DB接続情報
DB_NAME=chunisupport
DB_HOST=localhost
DB_PORT=3306
DB_USER=chunisupport
DB_PASS=chunisupport

# データソースURL
CHUNISUPPORT_BATCH_OFFICIAL_URL=https://chunithm.sega.jp/storage/json/music.json
CHUNISUPPORT_BATCH_ST1027_URL=https://ntools.st1027.org/json/songdata_chunithm.json
CHUNISUPPORT_BATCH_OTOGE_DB_URL=https://otoge-db.net/chunithm/data/music-ex.json

# Mainframeデータソース (Google Sheets API)
CHUNISUPPORT_BATCH_GOOGLE_SPREADSHEET_BASE_URL=https://sheets.googleapis.com/v4/spreadsheets
CHUNISUPPORT_BATCH_GOOGLE_CLOUD_API_KEY=your-google-cloud-api-key
CHUNISUPPORT_BATCH_GOOGLE_SHEET_ID=your-google-sheet-id

# 追加楽曲用Google Sheet ID
CHUNISUPPORT_BATCH_ADDITIONAL_SONGS_SHEET_ID=your-additional-songs-sheet-id

# Secrets
PW_PEPPER=change-me
